@model IEnumerable<ElectionManagementSystem.Election>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutView.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="row">
            <div class="col-xs-12">
                <table id="elections-table" class="table  table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="center">
                                Election Id
                            </th>
                            <th>Election Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>

                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var election in Model)
                        {
                            <tr>
                                <td class="center">
                                    @election.ElectionId
                                </td>

                                <td>
                                    @election.Name
                                </td>

                                <td>
                                    @election.StartDate
                                </td>
                                <td class="center">@election.EndDate</td>


                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">

                                        <a class="btn btn-xs btn-info tooltip-info" data-rel="tooltip" title="View">
                                            <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                        </a>

                                        <a href="@Url.Action("Edit", "Elections", new { id = election.ElectionId })" class="btn btn-xs btn-success tooltip-success" data-rel="tooltip" title="Vote">
                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                        </a>

                                        <a class="btn btn-xs btn-danger tooltip-error deleteelection" data-docno="@election.ElectionId" data-recordname="@election.Name" data-rel="tooltip" title="Delete">
                                            <i class="ace-icon fa fa-trash-o bigger-120 delete"></i>
                                        </a>
                                    </div>

                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                        <span class="blue">
                                                            <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="@Url.Action("CastVote", "Vote", new { id = election.ElectionId })" class="tooltip-success" data-rel="tooltip" title="Vote">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="tooltip-error deleteelection" data-docno="@election.ElectionId" data-recordname="@election.Name" data-rel="tooltip" title="Delete">
                                                        <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div><!-- /.span -->
        </div><!-- /.row -->
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
