@model IEnumerable<ElectionManagementSystem.Models.ElectionCandidateView>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutView.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="row">
            <div class="col-xs-12">
                <table id="candidates-table" class="table  table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="center">
                                Student Id
                            </th>
                            <th>Student Name</th>
                            <th>Position</th>
                            <th>Candidate Id</th>
                            <th>Election</th>

                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var candidate in Model)
                        {
                            <tr>
                                <td class="center">
                                    @candidate.student.StudentId
                                </td>

                                <td >
                                    @candidate.student.Name
                                </td>

                                <td>
                                    @candidate.electionPosition.Name
                                </td>
                                <td class="center">@candidate.electionCandidate.CandidateId</td>
                                <td class="hidden-480">@candidate.electionPosition.ElectionId</td>
                                

                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a href="@Url.Action("Candidate", "Candidates", new { id = candidate.electionCandidate.CandidateId })" class="btn btn-xs btn-info tooltip-info" data-rel="tooltip" title="View">
                                            <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                        </a>

                                        <a href="@Url.Action("Edit", "Candidates", new { id = candidate.electionCandidate.CandidateId })" class="btn btn-xs btn-success tooltip-success" data-rel="tooltip" title="Edit">
                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                        </a>

                                        <a class="btn btn-xs btn-danger tooltip-error deletecandidate" data-docno="@candidate.electionCandidate.CandidateId" data-recordname="@candidate.student.Name" data-rel="tooltip" title="Delete">
                                            <i class="ace-icon fa fa-trash-o bigger-120 delete"></i>
                                        </a>
                                    </div>

                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href="@Url.Action("Candidate", "Candidates", new { id = candidate.electionCandidate.CandidateId })"  class="tooltip-info" data-rel="tooltip" title="View">
                                                        <span class="blue">
                                                            <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="@Url.Action("Edit", "Candidates", new { id = candidate.electionCandidate.CandidateId })" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="tooltip-error deletecandidate" data-docno="@candidate.electionCandidate.CandidateId" data-recordname="@candidate.student.Name" data-rel="tooltip" title="Delete">
                                                        <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                       
                    </tbody>
                </table>
            </div><!-- /.span -->
        </div><!-- /.row -->
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
