
@model IEnumerable<ElectionManagementSystem.Election>


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutView.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="row">
            <div class="col-xs-12">
                <table id="simple-table" class="table  table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="center">
                                Election Id
                            </th>
                            <th>Election Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var election in Model)
                        {
                        <tr>
                            <td class="center">
                                @election.ElectionId
                            </td>

                            <td>
                                @election.Name
                            </td>

                            <td>
                                @election.StartDate
                            </td>
                            <td class="center">@election.EndDate</td>
                            <td class="center">
                                @*@(ElectionManagementSystem.Enums.ElectionStatus)election.Status*@
                            </td>

                            <td>
                                <div class="hidden-sm hidden-xs btn-group">

                                    <a href="@Url.Action("CastVote", "Vote", new { id = election.ElectionId })" class="btn btn-xs btn-success tooltip-success" data-rel="tooltip" title="Vote">
                                        <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                    </a>
                                </div>

                                <div class="hidden-md hidden-lg">
                                    <div class="inline pos-rel">
                                        <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                            <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                        </button>

                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                            <li>
                                                <a href="@Url.Action("CastVote", "Vote", new { id = election.ElectionId })" class="tooltip-success" data-rel="tooltip" title="Vote">
                                                    <span class="green">
                                                        <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div><!-- /.span -->
        </div><!-- /.row -->
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
